<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="B7W">
    <meta name="robots" content="NONE,NOARCHIVE"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    {% block headers %}
    {% endblock %}

    <link href="/css/core.css" rel="stylesheet">
    <link href="/css/icons.css" rel="stylesheet">
    {% block css %}
    {% endblock %}

    <link rel="shortcut icon" href='/img/favicon.ico'>
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon.png">
</head>

<body>

<nav class="nav-fixed">
    <div class="container">
        <div class="nav">
            <ul class="pull-left">
                <li><a class="view-middle-hide" href="/">Home</a></li>
                {% block navigation %}{% endblock %}
                <li><a href="/about/" target="_self">About</a></li>
            </ul>
            <ul class="pull-right">
                {% if back %}
                    {% if back.id %}
                        <li><a href="/album/{{ back.id }}/">Back</a></li>
                    {% else %}
                        <li><a href="/">Back</a></li>
                    {% endif %}
                    <li class="divider-vertical"></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block container %}
        <div id="main">
            {% block main %}
            {% endblock %}
        </div>
    {% endblock %}
</div>

<footer>
    <div class="container">
        <p>
            Copyright &copy; {{ now.year }} <a href="mailto:{{ copyright.email }}">{{ copyright.username }}</a>
        </p>

        <p>
            <a href="https://github.com/b7w/behappy">Project behappy</a>
        </p>
    </div>
</footer>

{% block media %}
    <script src="/js/jquery.min.js" type="text/javascript"></script>
{% endblock %}

{{ EXTRA_HTML|safe }}

</body>
</html>

