{% extends 'base.jinja2' %}

{% block title %}{{ title|capitalize }}{% endblock %}

{% block main %}
    <div class="message">
        <h1>{{ title|capitalize }}
            <span style="font-size: small;">{{ info|default("") }}</span>
        </h1>

        <p>{{ message }}</p>
    </div>
{% endblock %}